ADMIN_LOGIN=admin
ADMIN_PASSWORD=secure-pass
PORT=3000
DATABASE_PATH=../data/base.db
CLIENT_DIST=../client/dist
AI_API_URL=https://api.openai.com/v1/chat/completions
AI_API_KEY=
AI_API_MODEL=gpt-3.5-turbo
AI_SYSTEM_PROMPT=
